.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  .column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

mat-form-field {
  width: 100%;
}
